.social-btn {
  position: absolute;
  top: 250px;
  left: 250px;
  width: 190px;
  border: 5px solid #F6F930;
  padding: 10px;
  margin: 10px;
  background-color: #D2F898;
}


// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
